<div class="sidebar" data-color="white" data-active-color="danger">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="{{ asset('assets/img/logo-small.png')}}">
            </div>
        </a>
        <a class="simple-text logo-normal">
            Artikli - analiza
            <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="{{ path('dashboard') }}">
                    <i class="nc-icon nc-bank"></i>
                    <p>Pocetna</p>
                </a>
            </li>
            <li>
                <a href="{{ path('package_create') }}">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Kreiranje paketa</p>
                </a>
            </li>
            <li>
                <a href="{{ path('package_list_7') }}">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Istekao rok</p>
                </a>
            </li>
            <li>
                <a href="{{ path('package_list_7') }}">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>7 dana</p>
                </a>
            </li>
            <li>
                <a href="{{ path('package_list_15') }}">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>15 dana</p>
                </a>
            </li>
            <li>
                <a href="{{ path('package_list_15') }}">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Ostali paketi</p>
                </a>
            </li>
            <!--
        <li>
            <a href="./typography.html">
                <i class="nc-icon nc-caps-small"></i>
                <p>Typography</p>
            </a>
        </li>
        <li class="active-pro">
            <a href="./upgrade.html">
                <i class="nc-icon nc-spaceship"></i>
                <p>Upgrade to PRO</p>
            </a>
        </li>
          -->
    </ul>
</div>
</div>