{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="content">
    <div class="container app-content">
        <section class="section">
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            </div>

            {{ form_end(form) }}

        </section>
    </div>
    </div>
{% endblock %}