{% extends 'base.html.twig' %}
{% block body %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Paketi kojima rok istice u narednih 7 dana</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Sifra artika
                            </th>
                            <th>
                                Naziv artikla
                            </th>
                            <th>
                                Kolicina
                            </th>
                            <th>
                                Datum zapreme
                            </th>
                            <th>
                                Datum isteka
                            </th>
                            <th>
                                Izbrisi
                            </th>
                            </thead>
                            <tbody>
                            {% for package in packages %}
                                <tr>
                                    <td>
                                        {{ package.articleId }}
                                    </td>
                                    <td>
                                        {{ package.name }}
                                    </td>
                                    <td>
                                        {{ package.count }}
                                    </td>
                                    <td>
                                        {{ package.dateOfReceipt|date("m/d/Y") }}
                                    </td>
                                    <td>
                                        {{ package.dateOfExpiry|date("m/d/Y") }}
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm"
                                           href="{{ path('package_delete', {id: package.id, num: 7}) }}">
                                            Izbrisi
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}