<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <meta charset="utf-8" />
            <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/apple-icon.png')}}">
            <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png')}}">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <title>
                Paper Dashboard 2 by Creative Tim
            </title>
            <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
            <!--     Fonts and icons     -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
            <!-- CSS Files -->
            <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" />
            <link href="{{ asset('assets/css/paper-dashboard.css?v=2.0.0')}}" rel="stylesheet" />
            <!-- CSS Just for demo purpose, don't include it in your project -->
            <link href="{{ asset('assets/demo/demo.css')}}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>

        <div class="wrapper ">
            {% include 'site/partial/_sider.html.twig' %}
            <div class="main-panel">
                {% include 'site/partial/_header.html.twig' %}
                {% block body %}
                {% endblock %}
                {% include 'site/partial/_footer.html.twig' %}
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('assets/js/core/jquery.min.js')}}"></script>
            <script src="{{ asset('assets/js/core/popper.min.js')}}"></script>
            <script src="{{ asset('assets/js/core/bootstrap.min.js')}}"></script>
            <script src="{{ asset('assets/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
            <!--  Google Maps Plugin    -->
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
            <!-- Chart JS -->
            <script src="{{ asset('assets/js/plugins/chartjs.min.js')}}"></script>
            <!--  Notifications Plugin    -->
            <script src="{{ asset('assets/js/plugins/bootstrap-notify.js')}}"></script>
            <!-- Control Center for Now Ui DashboardController: parallax effects, scripts for the example pages etc -->
            <script src="{{ asset('assets/js/paper-dashboard.min.js?v=2.0.0')}}" type="text/javascript"></script>
            <!-- Paper DashboardController DEMO methods, don't include it in your project! -->
            <script src="{{ asset('assets/demo/demo.js')}}"></script>
            <script>
                $(document).ready(function() {
                    // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
                    demo.initChartsPages();
                });
            </script>
        {% endblock %}
    </body>
</html>
